**.orig
*.rbc
.bundle
.env
capybara-*.html
coverage/
db/*.sqlite3
lib/tasks/data.rake
lib/tasks/signups.rake
log
pickle-email-*.html
plan
public/system
public/uploads/*
rerun.txt
solr/
spec/tmp
tmp
vendor/bundle

mailings/launch-beta.html

.ruby-version
.ruby-gemset
.ruby-version*
.ruby-gemset*
